@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
* {
  text-decoration: none;
}
body {
  background-color: #0c59cf;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  display: flex;
  margin-left: 1%;
  margin-right: 1%;
  align-items: center;
  justify-content: space-between;
  background-color: #707b8c;
  width: 100%;
  border: 2px solid black;
}
.banner h1{
margin-right: 1%;
}
.banner-nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1%;
}
.banner-nav a{
  padding: 10%;
  margin-left: 10%;
  background-color: red;
  border: 1px solid black;
  color: white;
}
.pizza-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  text-shadow: -1px 0 white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://st2.depositphotos.com/1441511/9128/i/950/depositphotos_91282244-stock-photo-eating-food-people-taking-pizza.jpg");
  height: 88vmin;
  margin-left: 5%;
  width: 90%;
}
.pizza-time a{
  color: white;
  padding: 1%;
  background-color: red;
  text-shadow: -1px 0 black;
}